<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <appSettings>
    <!--Add your application configs here, read it from TestConfigs.cs-->
   
    <add key="Browser" value="Chrome" />
    <add key="AutomationDirectory" value="E:\Automation\Genoplan_Automation\Automated.Tests\" />
    <add key="AutomationDriver" value="Executables" />
    <add key="TestDataFile" value="Data\AutoscoringTestData.xlsx" />
    <add key="ObjectRepository" value="E:\Automation\Genoplan_Automation\Automated.Application\Domain\ObjectRepository\" />
    <add key="FilePath" value="E:\Automation\Genoplan_Automation\Automated.Tests\Data\" />
    <add key="MaxNumberOfRetries" value="3" />
    <add key="ReportUrl" value="C:\AutomationReport" />
    <add key="ReportName" value="extentreport.html" />
    <add key="ShortTime" value="3" />
    <add key="LongTime" value="40" />
    <add key="MedTime" value="6" />
    <add key="UserID" value="EAME\t976133" />
    <add key="Password" value="Welcome.123" />
    <add key="IdFilePath" value="Data\" />
    <!--End  of the automated application configs-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.2.0" newVersion="3.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader.DataSet" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.2.0" newVersion="3.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.0.0" newVersion="3.11.0.0" />
      </dependentAssembly>
     
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  

  
  

 

 
</configuration>